Importing packages

In [3]:
import pandas as pd

Reading in the CSVs

In [4]:
full_moon = pd.read_csv("full_moon.csv")
holidays = pd.read_csv("holidays.csv")
weather = pd.read_csv("weather.csv")
crimes = pd.read_csv("Crimes.csv")

Recoding all the date columns to same format

In [5]:
## First, full_moon.csv

### Convert FullMoonDates column to datetime objects
full_moon['FullMoonDates'] = pd.to_datetime(full_moon['FullMoonDates'], format='%d %B %Y')

### Format the dates as 'YYYY-MM-DD' and assign them to a new column
full_moon['use_date'] = full_moon['FullMoonDates'].dt.strftime('%Y-%m-%d')

# Save the updated DataFrame back to the same CSV file, overwriting the original file
full_moon.to_csv("full_moon.csv", index=False)


## Next, holidays.csv

### Date column already in correct format, just want to change the name to use_date for consistency.
holidays.rename(columns={'Date': 'use_date'}, inplace=True)

# Save the updated DataFrame back to the same CSV file, overwriting the original file
holidays.to_csv("holidays.csv", index=False)


## Next, weather.csv

### Same situation as holidays.csv
weather.rename(columns={'datetime': 'use_date'}, inplace=True)

### Save the updated DataFrame back to the same CSV file, overwriting the original file
weather.to_csv("weather.csv", index=False)

ValueError: time data "2005-01-25" doesn't match format "%d %B %Y", at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [6]:
## Now for Crimes.csv

### Convert the 'Date' column to datetime objects
crimes['Date'] = pd.to_datetime(crimes['Date'])

### Create new columns for 'use_date' and 'use_time'
crimes['use_date'] = crimes['Date'].dt.strftime('%Y-%m-%d')
crimes['use_time'] = crimes['Date'].dt.strftime('%H:%M:%S')

### Save the updated DataFrame back to the same CSV file, overwriting the original file
crimes.to_csv("Crimes.csv", index=False)

In [34]:
filtered_crime = crimes[(crimes['Primary Type'] == 'ASSAULT') | (crimes['Primary Type'] == 'BATTERY')]

In [35]:
filtered_crime['violent_crime_count'] = filtered_crime.groupby('use_date')['Case Number'].transform('count')

C:\Users\annab\AppData\Local\Temp\ipykernel_211484\3656211765.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_crime['violent_crime_count'] = filtered_crime.groupby('use_date')['Case Number'].transform('count')

In [36]:
filtered_crime

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location,use_date,use_time,violent_crime_count
8,13201805,JG413678,2023-09-06 14:45:00,031XX W FILLMORE ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,SIDEWALK,False,True,...,1155404.0,1895201.0,2023,09/14/2023 03:43:09 PM,41.868234,-87.704953,"(41.868234232, -87.704953287)",2023-09-06,14:45:00,14
9,13201684,JG413463,2023-09-06 11:45:00,010XX N PULASKI RD,0460,BATTERY,SIMPLE,CONVENIENCE STORE,False,False,...,1149534.0,1906544.0,2023,09/14/2023 03:43:09 PM,41.899477,-87.726209,"(41.899476558, -87.72620879)",2023-09-06,11:45:00,14
13,13202316,JG414343,2023-09-06 16:00:00,011XX S ST LOUIS AVE,0498,BATTERY,"AGG. DOMESTIC BATTERY - HANDS, FISTS, FEET, SE...",ALLEY,False,True,...,1153217.0,1894682.0,2023,09/14/2023 03:43:09 PM,41.866854,-87.712996,"(41.866853689, -87.712996017)",2023-09-06,16:00:00,14
14,13201430,JG413128,2023-09-06 06:00:00,0000X N HAMLIN BLVD,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,False,True,...,1151064.0,1899854.0,2023,09/14/2023 03:43:09 PM,41.881089,-87.720764,"(41.881088655, -87.720764494)",2023-09-06,06:00:00,14
16,13202353,JG412941,2023-09-06 00:21:00,035XX W FLOURNOY ST,0560,ASSAULT,SIMPLE,APARTMENT,False,True,...,1152924.0,1896804.0,2023,09/14/2023 03:43:09 PM,41.872682,-87.714015,"(41.872682495, -87.714015459)",2023-09-06,00:21:00,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512174,13056670,JG240884,2023-04-28 16:27:00,040XX W ARTHINGTON ST,0460,BATTERY,SIMPLE,SCHOOL - PUBLIC GROUNDS,False,False,...,1149503.0,1895805.0,2023,08/19/2023 03:40:26 PM,41.870008,-87.726602,"(41.87000817, -87.726601533)",2023-04-28,16:27:00,13
512177,13067345,JG253763,2023-05-09 11:30:00,009XX S INDEPENDENCE BLVD,0560,ASSAULT,SIMPLE,APARTMENT,False,True,...,1151401.0,1895691.0,2023,08/19/2023 03:40:26 PM,41.869658,-87.719636,"(41.869658316, -87.71963634)",2023-05-09,11:30:00,11
512179,13061873,JG247177,2023-05-03 23:12:00,035XX W ADAMS ST,051A,ASSAULT,AGGRAVATED - HANDGUN,APARTMENT,True,True,...,1152863.0,1898846.0,2023,08/19/2023 03:40:26 PM,41.878287,-87.714185,"(41.87828717, -87.714185338)",2023-05-03,23:12:00,10
512182,13044797,JG226598,2023-04-17 08:45:00,027XX W HARRISON ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,SIDEWALK,True,True,...,1158295.0,1897254.0,2023,08/19/2023 03:40:26 PM,41.873809,-87.694284,"(41.873809306, -87.694283701)",2023-04-17,08:45:00,10
512186,13112389,JG307020,2023-06-19 10:17:00,044XX W JACKSON BLVD,0453,BATTERY,AGGRAVATED POLICE OFFICER - OTHER DANGEROUS WE...,STREET,True,False,...,1146902.0,1898319.0,2023,08/19/2023 03:40:26 PM,41.876957,-87.736086,"(41.876956938, -87.736086464)",2023-06-19,10:17:00,18

In [43]:
# Drop duplicates and keep the DataFrame
filtered_crime2 = filtered_crime[['use_date', 'violent_crime_count']]
filtered_crime2.drop_duplicates()

# Merge the two DataFrames on the 'use_date' column
merged_data = pd.merge(filtered_crime2, weather, on='use_date')

print(merged_data)

       use_date  violent_crime_count                   name  tempmax  tempmin  \
0    2023-09-06                   14  Chicago,United States     27.1     20.2
1    2023-04-12                   10  Chicago,United States     28.3     15.1
2    2023-08-30                   10  Chicago,United States     21.4     14.5
3    2023-11-10                   12  Chicago,United States      8.3      2.1
4    2023-09-07                   16  Chicago,United States     21.7     18.8
...         ...                  ...                    ...      ...      ...
5163 2023-06-23                   11  Chicago,United States     28.9     19.9
5164 2023-08-18                   17  Chicago,United States     25.6     14.9
5165 2023-08-03                   10  Chicago,United States     31.1     19.4
5166 2023-05-06                    6  Chicago,United States     25.2     15.3
5167 2023-05-24                    8  Chicago,United States     20.0     12.3

      temp  feelslikemax  feelslikemin  feelslike   dew  ...  severerisk  \
0     23.7          27.5          20.2       23.7  19.3  ...        30.0
1     22.1          27.0          15.1       21.9   5.8  ...        10.0
2     18.5          21.4          14.5       18.5  11.4  ...        10.0
3      5.6           5.7          -0.1        2.8  -1.8  ...        10.0
4     20.1          21.7          18.8       20.1  16.0  ...        10.0
...    ...           ...           ...        ...   ...  ...         ...
5163  24.4          28.1          19.9       24.2  12.3  ...        10.0
5164  20.5          25.6          14.9       20.5  10.4  ...        10.0
5165  25.4          31.8          19.4       25.6  18.0  ...        10.0
5166  19.9          25.2          15.3       19.9  10.2  ...        10.0
5167  16.7          20.0          12.3       16.7   7.5  ...        10.0

                  sunrise               sunset  moonphase  \
0     2023-09-06T06:21:11  2023-09-06T19:15:59       0.75
1     2023-04-12T06:15:17  2023-04-12T19:28:09       0.73
2     2023-08-30T06:13:59  2023-08-30T19:27:44       0.50
3     2023-11-10T06:33:51  2023-11-10T16:34:34       0.91
4     2023-09-07T06:22:13  2023-09-07T19:14:17       0.75
...                   ...                  ...        ...
5163  2023-06-23T05:16:02  2023-06-23T20:29:33       0.18
5164  2023-08-18T06:01:33  2023-08-18T19:46:36       0.08
5165  2023-08-03T05:46:09  2023-08-03T20:06:46       0.57
5166  2023-05-06T05:40:36  2023-05-06T19:54:28       0.54
5167  2023-05-24T05:22:49  2023-05-24T20:12:32       0.16

                  conditions  \
0     Rain, Partially cloudy
1                      Clear
2           Partially cloudy
3           Partially cloudy
4             Rain, Overcast
...                      ...
5163        Partially cloudy
5164        Partially cloudy
5165        Partially cloudy
5166          Rain, Overcast
5167        Partially cloudy

                                            description               icon  \
0           Partly cloudy throughout the day with rain.               rain
1                  Clear conditions throughout the day.          clear-day
2                     Partly cloudy throughout the day.  partly-cloudy-day
3                     Partly cloudy throughout the day.  partly-cloudy-day
4     Cloudy skies throughout the day with rain clea...               rain
...                                                 ...                ...
5163                         Clearing in the afternoon.  partly-cloudy-day
5164                  Partly cloudy throughout the day.  partly-cloudy-day
5165                  Partly cloudy throughout the day.  partly-cloudy-day
5166  Cloudy skies throughout the day with rain in t...               rain
5167                  Partly cloudy throughout the day.  partly-cloudy-day

                                               stations  full_moon  holiday
0     72534014819,KORD,KMDW,72530094846,F1983,744665...          0        0
1     E1098,72534014819,KORD,KMDW,72530094846,F1983,...          0        0
2     72534014819,KORD,KMDW,72530094846,F1983,744665...          0        0
3     72534014819,KORD,KMDW,72530094846,F1983,744665...          0        0
4     72534014819,KORD,KMDW,72530094846,F1983,744665...          0        0
...                                                 ...        ...      ...
5163  72534014819,F4175,KORD,KMDW,72530094846,F1983,...          0        0
5164  72534014819,KORD,KMDW,72530094846,F1983,F7086,...          0        0
5165  72534014819,KORD,KMDW,72530094846,F1983,744665...          0        0
5166  72534014819,KORD,KMDW,72530094846,F1983,F7086,...          0        0
5167  72534014819,KORD,KMDW,72530094846,F1983,TT351,...          0        0

[5168 rows x 36 columns]

In [44]:
merged_data.to_csv('merged_data.csv')

Inidicating if a day was a full moon or holiday

In [7]:
## Adding a full_moon binary value to weather.csv (since there's a row for each day in that csv)

# Convert 'use_date' column to datetime objects
weather['use_date'] = pd.to_datetime(weather['use_date'])
full_moon['use_date'] = pd.to_datetime(full_moon['use_date'])

# Create a new column 'full_moon' initialized with zeros
weather['full_moon'] = 0

# Set 'full_moon' column to 1 for dates in 'full_moon.csv'
weather.loc[weather['use_date'].isin(full_moon['use_date']), 'full_moon'] = 1

# Save the updated DataFrame back to the same CSV file, overwriting the original file
weather.to_csv("full1.csv", index=False)

In [8]:
## Adding a holiday binary value to weather.csv

# Convert 'use_date' column to datetime objects
weather['use_date'] = pd.to_datetime(weather['use_date'])
holidays['use_date'] = pd.to_datetime(holidays['use_date'])

# Create a new column 'holiday' initialized with zeros
weather['holiday'] = 0

# Set 'holiday' column to 1 for dates in 'holidays.csv'
weather.loc[weather['use_date'].isin(holidays['use_date']), 'holiday'] = 1

# Save the updated DataFrame back to the same CSV file, overwriting the original file
weather.to_csv("full1.csv", index=False)

Indicating if a crime happened, how many crimes, what types, etc.

In [9]:
# Convert 'use_date' column to datetime objects
full1 = pd.read_csv("full1.csv")
full1['use_date'] = pd.to_datetime(full1['use_date'])
crimes['use_date'] = pd.to_datetime(crimes['use_date'])

In [10]:
# Add binary column 'criminal_activity' to full1
full1['criminal_activity'] = 0
full1.loc[full1['use_date'].isin(crimes['use_date']), 'criminal_activity'] = 1

In [11]:
# Add 'crime_count' column to full1
crime_count_series = crimes.groupby('use_date').size()
crime_count_series.name = 'crime_count'  # Assign a name to the Series
full1_df = pd.merge(full1, crime_count_series, left_on='use_date', right_index=True, how='left')
full1_df['crime_count'].fillna(0, inplace=True)

In [12]:
# Add binary columns for each 'Primary Type' with count of occurrences on each day
crime_type_counts = crimes.groupby(['use_date', 'Primary Type']).size().unstack(fill_value=0)
crime_type_counts.reset_index(inplace=True)
full1_df = pd.merge(full1_df, crime_type_counts, on='use_date', how='left')

# Fill NaN values in crime type columns with 0
crime_type_columns = crime_type_counts.columns[1:]  # Exclude 'use_date' column
full1_df[crime_type_columns] = full1_df[crime_type_columns].fillna(0)

In [13]:
# Save the updated DataFrame back to the new CSV file
full1_df.to_csv("full2.csv", index=False)

Deciding Which Variables to Keep

In [17]:
data = full1_df[['use_date', "ASSAULT", "BATTERY", "CRIM SEXUAL ASSAULT", "CRIMINAL SEXUAL ASSAULT", "HUMAN TRAFFICKING", "KIDNAPPING", "HOMICIDE", 'crime_count', 'criminal_activity', 'holiday', 'full_moon', 'temp', 'feelslike', 'humidity', 'precip', 'precipcover', 'snow', 'windspeed', 'visibility', 'uvindex', 'sunrise', 'sunset', 'moonphase']]

In [18]:
data

,use_date,ASSAULT,BATTERY,CRIM SEXUAL ASSAULT,CRIMINAL SEXUAL ASSAULT,HUMAN TRAFFICKING,KIDNAPPING,HOMICIDE,crime_count,criminal_activity,...,humidity,precip,precipcover,snow,windspeed,visibility,uvindex,sunrise,sunset,moonphase
0,2010-01-01,2.0,10.0,8.0,0.0,0.0,0.0,0.0,74.0,1,...,69.8,0.000,0.00,0.0,21.2,15.1,3,2010-01-01T07:18:22,2010-01-01T16:30:09,0.53
1,2010-01-02,1.0,5.0,0.0,0.0,0.0,0.0,0.0,51.0,1,...,63.1,0.000,0.00,0.0,24.0,15.8,4,2010-01-02T07:18:26,2010-01-02T16:31:02,0.57
2,2010-01-03,6.0,7.0,0.0,0.0,0.0,0.0,0.0,44.0,1,...,66.0,0.000,0.00,0.0,24.2,15.6,4,2010-01-03T07:18:28,2010-01-03T16:31:56,0.60
3,2010-01-04,1.0,10.0,1.0,0.0,0.0,0.0,0.0,52.0,1,...,69.8,0.000,0.00,0.0,23.3,15.7,2,2010-01-04T07:18:27,2010-01-04T16:32:51,0.64
4,2010-01-05,2.0,6.0,0.0,0.0,0.0,0.0,0.0,52.0,1,...,70.8,0.000,0.00,0.0,21.9,15.4,3,2010-01-05T07:18:25,2010-01-05T16:33:49,0.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5168,2024-02-25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,49.8,0.000,0.00,0.0,27.7,16.0,5,2024-02-25T06:32:21,2024-02-25T17:35:35,0.54
5169,2024-02-26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,47.4,0.000,0.00,0.0,28.6,16.0,6,2024-02-26T06:30:49,2024-02-26T17:36:48,0.58
5170,2024-02-27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,75.2,10.687,8.33,0.0,27.2,15.1,6,2024-02-27T06:29:16,2024-02-27T17:38:01,0.61
5171,2024-02-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,52.3,0.379,8.33,0.9,43.9,16.0,7,2024-02-28T06:27:42,2024-02-28T17:39:13,0.64
5172,2024-02-29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,38.0,0.000,0.00,0.0,26.6,16.0,6,2024-02-29T06:26:07,2024-02-29T17:40:25,0.68